<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="container">
  <form action="/scrape" method="GET">
    <div class="form-group">
      <label for="scrapeUrlInput">URL to scrape</label>
      <input type="text" name="url" class="form-control" id="scrapeUrlInput" aria-describedby="urlHelp"
        placeholder="Enter email">
      <small id="urlHelp" class="form-text text-muted">Enter the URL of a website you would like to scrape for news articles.</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div id="articleCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {{#each articles}}
    {{#if @first}}
    <li data-target="#articleCarousel" data-slide-to="{{@index}}" class="active"></li>
    {{else}}
    <li data-target="#articleCarousel" data-slide-to="{{@index}}"></li>
    {{/if}}
    {{/each}}
  </ol>
  <div class="carousel-inner">
    {{#each articles}}
    {{#if @first}}
    <div class="carousel-item active">
      <div class="card w-75 mx-auto my-5">
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h4>
            <a href="{{this.link}}" class="btn btn-primary" target="_blank">Full Article</a>
        </div>
      </div>
    </div>
    {{else}}
    <div class="carousel-item">
      <div class="card w-75 mx-auto my-5">
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h4>
            <a href="{{this.link}}" class="btn btn-primary" target="_blank">Full Article</a>
        </div>
      </div>
    </div>
    {{/if}}
    {{/each}}
  </div>
  <a class="carousel-control-prev" href="#articleCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#articleCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
