<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<hr class="my-1">

{{#if articles}}
{{#each articles}}

<div class="card w-75 mx-auto my-5">
  <div class="card-body">
    <h4 class="card-title"><a href="{{this.url}}" data-id="{{this._id}}" class="text-reset text-decoration-none"
        target="_blank">{{this.title}}</a></h4>
    <hr>
    {{!-- iterate through the comments --}}
    <p>
      <a data-toggle="collapse" href="#commentsCollapse" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        Toggle Comments
      </a>
    </p>
    <div class="collapse" id="commentsCollapse">
      <ul class="list-group">
        {{#if this.comments}}
        {{#each this.comments}}
        <li class="list-group-item">
          <p class="my-0"><strong>{{this.author}}:</strong> {{this.comment}}</p>
        </li>
        {{/each}}
        {{else}}
        <p>No comments on this article.</p>
        {{/if}}
      </ul>
      {{!-- create a text input field and a submit comment button --}}
      <hr>
      <p>Add a comment:</p>
      <form>
        <input type="text" name="author" placeholder="Username" class="w-100 my-1 author-input"><br>
        <input type="text" name="comment" placeholder="Write a comment..." class="w-100 my-1 comment-input"><br>
        <button class="btn btn-primary btn-sm btn-comment" data-articleId="{{this._id}}">Add Comment</button>
      </form>
    </div>

  </div>
</div>

{{/each}}
{{else}}
{{!-- No articles were passed --}}
<p>There are currently no articles in the database, press the "Scrape Me!" button to load new articles.</p>
{{/if}}

<hr class="my-1">
<div class="container">
  <p>Pull any new articles from https://www.dailywire.com</p>
  <button class="btn btn-primary btn-sm btn-scrape">Scrape Me!</button>
</div>